* {
    box-sizing: border-box;
    color: black;
}
body{
    margin: 10px auto;
    background-image: url(https://plus.unsplash.com/premium_photo-1686600168384-54f395fba1a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGJsYWNrJTIwYmFja2dyb3VuZCUyMHdpdGglMjBtYXJibGVzfGVufDB8fDB8fHww);
}
.heading, .Join, .trainers, .members, .form, .founder, #about, #userReview {
    display: block;
    margin-top: 25px ;
    border-radius: 1rem;
} 
.heading {
    background-color: rgb(66, 60, 60);
}
.join {
    background-color: #141413;
}
.trainers {
    background-color: blue;
}
.members{
    background-color: aliceblue;
}
.form {
    background-color: burlywood;
}
.founder {
    background-color: goldenrod;
}
#userReview {
    width: 100%;
    display: flex;
}
#Rev {
    margin-left: 50px;
    background-color: rgb(38, 122, 122);
    width: 300px ;
    height: 300px;
    margin-bottom: 10px;
    padding-top: 80px;
    text-align: center;
    border-radius: 1rem;
}
#comments {
    margin-right: 50px;
    color: #e9e4de;
    background-color: rgb(235, 186, 186);
    font-size: 80%;
    width: 550px;
    border-radius: 1rem;
    border: 5px;
    border: #ddd;
    
}
#about{
    background-color: #e9d7cf;
    border-radius: 1rem;   
}
h1 {
    font-weight: 50px;
    font-style: italic;
    margin: 30px auto;
    text-decoration: underline;
    width: 350px;
    text-align: center;
}
.h1  {
    color: salmon;
}

#signUp, #MembersBtn, #TrainersBtn, #founderBtn {
    font-weight: 30px;
    font-style: italic;
    margin: 10px 470px;
    height: 50px;
    width: 300px;
    border-radius: 0.5rem;
    font-size: 20px;
}
#signUp {
    background-color: rgb(136, 120, 95);
}
#MembersBtn {
    background-color: cornflowerblue;
}
#TrainersBtn {
    background-color: rgb(105, 165, 165);
}
#founderBtn {
    background-color: honeydew;
    color: black;
}
#TrainersInfo, #membersInfo, #trainers, #members, #founderDiv {
    display: none;
}
#trainersList li, #membersList li {
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      display: flex;
      margin: 10px;
      width: 100px;
      font-size: 75%;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      background-color: #3f7070;
}
form {
    display: none;
    background-color: rgb(190, 183, 173);
    border-radius: 0.5rem;
    width: 400px;
    height: 475px;
    margin: 10px auto;
    
}
input, #submit{
    height: 45px;
    width: 350px;
    margin-left: 22px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #e9e4de;
}
input::placeholder{
    font-size: 100%;
    color: black;
}
#submit {
    font-size: 120%;
    height: 55px;
    color: black;
}
